{% for pet in petz %}
    <div class="pet showing" data-hash="{{ pet.getHash() }}">
        <div class="detail">
            <span class="pic">
            {% set pics = pet.getPics() %}
            {% if not pics.isEmpty() and picExists(pics.first().getFile()) %}
                <img src="/pics/{{ pics.first().getFile() }}" alt="Pic of {{ pet.getCallName() }}">
            {% else %}
                <img src="{{ asset('build/images/default_pic.png') }}" alt="Pet Silhouette">
            {% endif %}
            </span>

            <div class="attributes">
                <span class="attr"><span class="label">Call Name:</span> {{ pet.getCallName() }}</span>
                <span class="attr"><span class="label">Show Name:</span> {{ pet.getShowName() }}</span>
                {% if pet.getPrefix() %}
                    <span class="attr"><span class="label">Prefix:</span> {{ pet.getPrefix() }}</span>
                {% endif %}
                {% if pet.getHexerOrBreeder() %}
                    <span class="attr">
                        <span class="label">Hexer/Breeder:</span> {{ pet.getHexerOrBreeder() }}
                    </span>
                {% endif %}
                {% if pet.getBirthday() %}
                    <span class="attr"><span
                        class="label">Birthday (Y-M-D):</span> {{ pet.getBirthday()|date('Y-m-d') }}</span>
                {% endif %}
                {% if pet.getSexName() %}
                    <span class="attr"><span class="label">Sex:</span> {{ pet.getSexName() }}</span>
                {% endif %}
                <span class="attr">
                    <span class="label">Retired:</span> {{ pet.getRetired() ? 'Yes' : 'No' }}
                </span>
                {% if pet.getNotes() %}
                    <span class="attr">
                        <a href="#" class="showNotes">Notes &#9658;</a>
                    </span>
                    <div class="notes">{{ pet.getNotes()|nl2br }}</div>
                {% endif %}
            </div>

            <div class="points">
                {% for rollup in pet.getPointsRollup() %}
                    <span class="rank">
                        <b>{{ rollup.getShowType().name }}:</b>
                        ({{ rollup.getTotal() }})
                        {{ getShowTitle(rollup.getShowType(), pet.getType(), rollup.getTotal()) }}
                    </span>
                {% endfor %}
                {% if pet.getPoints()|length %}
                <span class="editPointsContainer">
                    <a href="#"><span class="editPoints material-symbols-outlined" data-hash="{{ pet.getHash() }}">edit_square</span></a>
                </span>
                {% endif %}
            </div>
        </div>

        <aside>
            <div class="addpoints">
                <div class="wait"></div>
                <div class="ok"></div>
                {{ include('petz/_points_form.html.twig', { 'hash': pet.getHash() }) }}
            </div>

            <div class="actions">
                <a href="{{ path('petz_edit', { 'hash': pet.getHash() }) }}" title="Edit"><span
                    class="material-symbols-outlined">edit</span></a>
                <a href="{{ path('petz_delete_confirm', { 'hash': pet.getHash() }) }}" title="Delete"><span
                    class="material-symbols-outlined">delete</span></a>
            </div>
        </aside>
    </div>
{% endfor %}